//Vars
$html-font: 62.5%;
$monserrat: "Montserrat", sans-serif;

// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $html-font;
}

body {
  font: {
    size: 1.6rem;
    family: $monserrat;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

//Grid
@mixin grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

//Utilities
.hue-shift {
  animation: hue-shift 5000ms infinite alternate;
}

//Responsive Variables.
$breakpoints: (
  small: 700px,
  medium: 768px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

//Responsive Function
@mixin rwd($bp) {
  @if map-has-key($breakpoints, $bp) {
    @media screen and (max-width: map-get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @media screen and (max-width: $bp) {
      @content;
    }
  }
}
