.landingPage {
  &__container {
    display: flex;
    justify-content: center;

    @include rwd(large) {
      margin-top: 15rem;
    }

    @include rwd(small) {
      margin-top: 6.5rem;
    }
  }
  &__content {
    @include grid;
    align-items: center;
    width: 90%;

    //rwd.
    @include rwd(medium) {
      grid-template-columns: 1fr;
    }
  }

  &__contentDetails {
    max-width: 80%;

    //rwd.
    @include rwd(medium) {
      order: 1;
      max-width: 100%;
    }
  }

  &__title {
    font-size: 6rem;
    color: white;

    //rwd.
    @include rwd(medium) {
      font-size: 3.5rem;
    }
  }

  &__description {
    color: #929fc5;
    margin-bottom: 2.5rem;
  }

  &__search {
    margin-bottom: 2.5rem;
  }

  &__searchBar,
  &__searchBtn {
    border: none;
    border-radius: 5rem;
    padding: 2rem;
    outline: none;
  }

  &__searchBar {
    width: calc(100% - 0.5rem);
  }

  &__searchBtn {
    width: 10rem;
    background-image: linear-gradient(to right, #ff83d5, #ffccb0);
    color: white;
    margin-left: -10rem;
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(to left, #ff83d5, #ffccb0);
    }
  }

  &__social {
    display: flex;

    @include rwd(medium) {
      margin-bottom: 1.5rem;
    }
  }

  &__socialLink {
    width: 3rem;
    height: 3rem;
    color: #929fc5;
    border: 1px solid #929fc5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.5rem;

    &:hover {
      background-image: linear-gradient(to right, #a971ff, #00f0ff);
      color: white;
    }
  }
}
