.landingPage {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #3b4679, #2b3153);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100vh;
    background-image: url(../images/bg-pat.png);
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
  }

  &__content {
    @include grid;
    align-items: center;
  }
}
