header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.container {
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 1.5rem;

  @include rwd(1000px) {
  }
}

.nav {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: flex-end;

  @include rwd(large) {
    justify-content: space-around;
  }

  @include rwd(medium) {
    align-items: center;
    justify-content: space-around;
  }

  @include rwd(small) {
    flex-direction: column;
    height: 8rem;
  }

  &__linkLogo {
    display: block;
    width: 8rem;

    @include rwd(small) {
      margin: 2rem 0;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 25rem;
  }

  &__link {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}
